gui/wxpython/xml/menudata.dtd

<!ELEMENT menudata (menubar*)>
<!ELEMENT menubar (menu*)>
<!ELEMENT menu (label, items)>
<!ELEMENT items ((separator | menuitem | menu)*)>
<!ELEMENT menuitem (label, help, keywords?, handler, command?, shortcut?, id?)>
<!ELEMENT separator EMPTY>
<!ELEMENT label (#PCDATA)>
<!ELEMENT help (#PCDATA)>
<!ELEMENT handler (#PCDATA)>
<!ELEMENT command (#PCDATA)>
<!ELEMENT keywords (#PCDATA)>
<!ELEMENT shortcut (#PCDATA)>
<!ELEMENT id (#PCDATA)>
